<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 th:text="${modo}">teste</h1>

    <div>
        <form th:if="${modo == 'Adicionar Tarefa'}" th:action="@{/tarefas/adicionar}" method="post">
            <label for="titulo">Título: </label>
            <input type="text" name="titulo" id="titulo" th:value="${tarefa?.titulo}">
            
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" id="descricao" th:value="${tarefa?.descricao}">
            <input type="submit" value="adicionar">
        </form>
        <form th:if="${modo == 'Editar Tarefa'}" th:action="@{/tarefas/editar}" method="post">
            <label for="id">ID: </label>
            <input type="hidden" name="id" th:value="${tarefa?.id}">
            
            <label for="titulo">Título: </label>
            <input type="text" name="titulo" id="titulo" th:value="${tarefa?.titulo}">
            
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" id="descricao" th:value="${tarefa?.descricao}">
            <input type="submit" value="Salvar">
        </form>
    </div>
</body>
</html>